<div>
    <table border="1px">
        <tr>
            <td><label for="entry_name">请输姓名： </label></td>
            <td><input type="text" id="entry_name" ng-model="entry_name"/></td>
        </tr>
        <tr>
            <td><label for="entry_phone_number">请输电话号码： </label></td>
            <td><input type="text" id="entry_phone_number" ng-model="entry_phone_number"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" ng-click="entry_add_submit()"/></td>
        </tr>
    </table>
</div>