<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../js/angular.min.js"></script>
    <title>Title</title>
</head>
<body>
    <script>
        function Person(name, age) {
            this.name = name;
            this.age = age;
        }

        var person = new Person('jane', 28);
        var student = Object.create(person);
        student.love = 'pingpong';
        console.log(Object.getPrototypeOf(student));
        console.log(student.name);
        console.log(student.age);
        console.log(student.love);
    </script>
</body>
</html>